.search-bar {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.search-bar form {
    display: flex;
}

.search-bar form input[type="text"] {
    border: 1px solid darkblue;
    padding: 10px 20px;
    font-size: 18px;
}

.search-bar form input[type="text"]:focus {
    outline: 0;
}

.search-bar form button {
    border: 0;
    background: darkblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.reset-filter-button {
    border: 0;
    background: lightgoldenrodyellow;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}