.movie-detail {
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: black;
    justify-content: center;
    padding: 24px;
    box-shadow: 1px 1px grey;
}