.movies-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}